---
import Layout from '../layouts/Layout.astro';
import World from '../components/world';
import painanitles from '../Data/painanitles.json'
import Timeline from '../components/timeline.jsx';
import ShortPlots from '../components/ShortPlots.jsx';
import LongPlots from '../components/LongPlots.jsx';
---

<Layout>
  <div class="relative w-screen h-screen overflow-hidden">
    {/* Background layer */}
    <div class="absolute inset-0 -z-100">
      <World tle={painanitles[0]} client:only="react"/>
    </div>

    {/* Content layer */}
    <div class="relative z-10">
    <ShortPlots client:only="react" />
    <LongPlots client:only="react" />
	  <Timeline client:only="react" />
    </div>
    </div>
</Layout>

<style>
  /* Ensure the container takes full viewport */
  :root {
    overflow-x: hidden;
  }
</style>